.gridChamps {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  gap: 15px;
  margin-top: 25px;
}

.imgChampContainer {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.champImg {
  position: absolute;
  transition: 0.5s;
  top: -35px;
  left: -30px;
}

.championTags {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
  background-color: #061c25;
  height: 55px;
  text-transform: uppercase;
  color: white;
  font-family: Verdana;
  font-weight: bold;
  position: relative;
}

.champCard:hover .champImg {
  transform: scale(0.95);
  transition: 0.5s;
}

.champCard:hover .championTags {
  background-color: #006680;
  transition: 0.5s;
}

.championTags h2 {
  position: absolute;
  left: 5%;
  transition: 0.3s;
}

.champCard:hover .championTags h2 {
  transform: translateX(10%);
}

@media screen and (max-width: 1350px) {
  .gridChamps {
    grid-template-columns: repeat(4, 250px);
  }
}

@media screen and (max-width: 1100px) {
  .gridChamps {
    grid-template-columns: repeat(3, 250px);
  }
}
@media screen and (max-width: 1100px) {
  .gridChamps {
    grid-template-columns: repeat(2, 250px);
  }
}

@media screen and (max-width: 550px) {
  .gridChamps {
    grid-template-columns: repeat(2, 175px);
  }

  .imgChampContainer {
    height: 250px;
    width: 100%;
  }

  .champImg {
    position: absolute;
    transition: 0.5s;
    top: -35px;
    left: -30px;
  }
}

@media screen and (max-width: 400px) {
  .gridChamps {
    grid-template-columns: repeat(2, 150px);
  }

  .imgChampContainer {
    height: 200px;
  }
}
